body {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  background-color: hsl(180, 52%, 96%);
}

header {
  background-color: hsl(180, 29%, 50%);
  height: 144px;
  /* width: 100%; */
  margin-bottom: 60px;
}

.header-img {
  height: 100%;
}

.input-box {
  position: relative;
  background-color: white;
  border-radius: 5px;
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: -80px;
}

.clear {
  color: rgba(0, 0, 0, 0.5);
  margin: auto;
  margin-right: 30px;
  padding: 8px;
  font-weight: 700;
}

.clear:hover {
  cursor: pointer;
  color: hsl(180, 29%, 50%);
  text-decoration: underline;
}

.job-cards-container {
  margin-top: 75px;
}

.job-card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 hsl(180, 31%, 95%), 0 5px 10px 0 hsl(180, 29%, 50%);
  width: 80%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  /* 0 12px 20px rgba(44,58,58,.1) */
}

.job-details {
  margin: 20px;
}

.title {
  display: flex;
  align-items: center;
}

.featured-jobs {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: hsl(180, 29%, 50%);
}

.company-logo {
  margin: 20px;
}

.title {
  margin: 10px;
}

.company-name {
  color: hsl(180, 29%, 50%);
  font-weight: 700;
  margin-right: 10px;
}

.new {
  background-color: hsl(180, 29%, 50%);
}

.featured {
  background-color: hsl(180, 14%, 20%);
}

.new,
.featured {
  border-radius: 25px;
  font-size: smaller;
  font-weight: 700;
  margin: 5px;
  padding: 6px 10px;
  color: white;
}

.position {
  margin: 10px;
  font-weight: 700;
  font-size: 18px;
}

.position:hover {
  cursor: pointer;
  color: hsl(180, 29%, 50%);
}

.small-details {
  margin: 10px;
  opacity: 0.5;
}

.btns {
  margin: 20px;
  margin-left: auto;
}

.btns button {
  color: hsl(180, 29%, 50%);
  background-color: hsl(180, 52%, 96%);
  font-weight: 700;
  margin: 5px;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.btns button:hover {
  cursor: pointer;
  color: white;
  background-color: hsl(180, 29%, 50%);
}

.selected-btn-with-x {
  margin: 5px;
  border: 5px solid white;
}

.selected-word {
  color: hsl(180, 29%, 50%);
  font-weight: 700;
  margin: 5px 0 5px 5px;
  padding: 8px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.x-button {
  color: white;
  background-color: hsl(180, 29%, 50%);
  border-radius: 0px 5px 5px 0px;
  margin: 5px 5px 5px 0;
  font-weight: 700;
  padding: 8px;
  border: none;
  width: 30px;
}

.x-button:hover {
  background-color: hsl(180, 14%, 20%);
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .job-card {
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 60px;
  }

  .company-logo {
    align-self: flex-start;
    margin-top: -25px;
    margin-bottom: 0;
  }

  .job-details {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }

  .job-details,
  .btns {
    margin: 10px auto 10px 20px;
  }

  .company-logo img {
    width: 70px;
    height: 70px;
  }

  .title,
  .position,
  .small-details {
    margin: 10px 0;
  }
}
